<div class="container mt-3 mb-5">
  <div class="row">
    <h4 class="col-2 offset-1">マイページ</h4>
  </div>
  <div class="row mt-4">
    <strong class="col-1">登録情報</strong>
    <!--登録情報 link_toを記述する（編集する）-->
    <div class="col-2">
      <%= link_to "編集する", edit_customers_path(@customer), class: "btn btn-success" %>
    </div>
  </div>
    <table class="table table-bordered col-9 mt-3">
      <tbody>
        <tr>
          <td class="table-secondary col-2">氏名</td>
          <td><%= current_customer.last_name %> <%= current_customer.first_name %></td>
        </tr>
        <tr>
          <td class="table-secondary col-2">カナ</td>
          <td><%= current_customer.last_name_kana %> <%= current_customer.first_name_kana %></td>
        </tr>
        <tr>
          <td class="table-secondary col-2">郵便番号</td>
          <td><%= current_customer.postal_code %></td>
        </tr>
        <tr>
          <td class="table-secondary col-2">住所</td>
          <td><%= current_customer.address %></td>
        </tr>
        <tr>
          <td class="table-secondary col-2">電話番号</td>
          <td><%= current_customer.telephone_number %></td>
        </tr>
        <tr>
          <td class="table-secondary col-2">メールアドレス</td>
          <td><%= current_customer.email %></td>
        </tr>
      </tbody>
    </table>

  <div class="row mt-3">
    <strong class="col-1">配送先</strong>
    <span class="col-3">
      <%= link_to "一覧を見る", customers_addresses_path, class: "btn btn-primary col-5" %><br />
    </span>
  </div>
  <div class="row mt-3">
    <strong class="col-1">注文履歴</strong>
    <span class="col-3">
      <%= link_to "一覧を見る", customers_orders_path, class: "btn btn-primary col-5" %>
    </span>
  </div>
</div>