<div class="container">
  <div class="mb-4">
    <h4>商品編集</h4>
  </div>
      <div>
        <%= form_with model: @item, url: admins_item_path, local: true do |f| %>
          <div class="row form-group">
            <%= f.label :image, '商品画像', class: "col-2" %>
            <%= f.attachment_field :image, class: "col-4" %>
          </div>
          <div class="row form-group">
            <%= f.label :neme, '商品名', class: "col-2" %>
            <%= f.text_field :name, class: "col-4" %>
          </div>
          <div class="row form-group">
            <%= f.label :introduction, '商品説明', class: "col-2" %>
            <%= f.text_area :introduction, class: "col-4" %>
          </div>
          <div class="row form-group">
            <%= f.label :price, '税抜価格', class: "col-2" %>
            <%= f.text_field :price, class: "col-4" %>円
          </div>
          <div class="col form-group">
            <%= f.submit "変更を保存", class: "btn btn-success" %>
          </div>
        <% end %>
      </div>
</div>