<div class="container">
 <h4 class="mx-auto">注文履歴詳細</h4>

 <div class="row gutters">
  <strong class="col-2">購入者</strong>
    <%= link_to "#{@order.customer.last_name}#{@order.customer.first_name}", admins_customer_path(@order.customer) %><br />

  <div class="w-100 mt-2"></div>

  <strong class="col-2">注文日</strong>
    <%= @order.created_at %><br />

  <div class="w-100 mt-2"></div>

  <strong class="col-2">配送先</strong>
    〒<%= @order.postal_code %><%= @order.address %><br />
  <div class="w-100"></div>
    <span class="col offset-2"><%= @order.name %></span><br />

  <div class="w-100 mt-2"></div>

  <strong class="col-2">支払方法</strong>
    <%= @order.payment_method_i18n %><br />
 </div>

  <div class="row">
    <table class="table col-8 mt-3">
      <thead class="table-light">
         <tr>
             <th>商品名</th>
             <th>単価（税込）</th>
             <th>数量</th>
             <th>小計</th>
         </tr>
      </thead>

      <tbody>
         <% @order.order_items.each do |order_item| %>
         <tr>
             <td>
                 <%= order_item.item.name %>
             </td>
             <td>
                 <%= order_item.item.add_tax_price.to_s(:delimited) %>
             </td>
             <td>
                 <%= order_item.amount %>
             </td>
             <td>
                 <%= order_item.item.add_tax_price * order_item.amount %>
             </td>
         </tr>
         <% end %>
      </tbody>
    </table>


    <div class="align-self-end col-3">
      <strong class="col offset-3">商品合計</strong>
         <%= @order.total_payment - @order.shipping_cost %>円<br />

      <strong class="col offset-5">送料</strong>
         <%= @order.shipping_cost %>円<br />

      <strong class="col offset-2">請求金額合計</strong>
         <%= @order.total_payment.to_s(:delimited) %>円
    </div>
  </div>
</div>