<header>
  <nav class="navbar navbar-expand-sm navbar-light mt-2">
    <% if admin_signed_in? %>
    <%= link_to "NaganoCake", admins_homes_top_path, class: "navbar-brand" %>
    <% else %>
    <%= link_to "NaganoCake", root_path, class: "navbar-brand" %>
    <% end %>

    <ul class="navbar-nav ml-auto">
      <% if customer_signed_in? %>
      <li class="nav-item">
        ようこそ、<%= current_customer.last_name %>さん！
      </li>
      <li class="nav-item">
        <%= link_to "マイページ", customers_path, class: 'nav-link text-dark' %>
      </li>
      <li class="nav-item">
        <%= link_to "商品一覧", customers_items_path, class: 'nav-link text-dark' %>
      </li>
      <li class="nav-item">
        <%= link_to "カート", customers_cart_items_path, class: 'nav-link text-dark' %>
      </li>
      <li class="nav-item">
        <%= link_to "ログアウト", destroy_customer_session_path, method: :delete, class: 'nav-link text-dark' %>
      </li>

      <% elsif admin_signed_in? %>
      <li class="nav-item">
        <%= link_to "商品一覧", admins_items_path, class: 'nav-link text-dark' %>
      </li>
      <li class="nav-item">
        <%= link_to "会員一覧", admins_customers_path, class: 'nav-link text-dark' %>
      </li>
      <li class="nav-item">
        <%= link_to "注文履歴一覧", admins_homes_top_path, class: 'nav-link text-dark' %>
      </li>
      <li class="nav-item">
        <%= link_to "ログアウト", destroy_admin_session_path, method: :delete, class: 'nav-link text-dark' %>
      </li>

      <% else %>
      <li class="nav-item">
        <%= link_to "About", about_path, class: 'nav-link text-dark' %>
      </li>
      <li class="nav-item">
        <%= link_to "商品一覧", customers_items_path, class: 'nav-link text-dark' %>
      </li>
      <li class="nav-item">
        <%= link_to "新規登録", new_customer_registration_path, class: 'nav-link text-dark' %>
      </li>
      <li nav-item>
        <%= link_to "ログイン", new_customer_session_path, class: 'nav-link text-dark' %>
      </li>

      <% end %>
    </ul>
  </nav>
</header>