<!DOCTYPE html>
<html>
  <head>
    <title>NaganoCake</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <!--管理者のログアウトのリンクを出すため、とりあえず、link_toを記述。のちに変更予定-->
    <%= link_to "ログアウト", destroy_admin_session_path, method: :delete %>
    
    <%= link_to "ログアウト", destroy_customer_session_path, method: :delete %>
    
    <%= yield %>
  </body>
</html>
